# CDK
aws-cdk-lib
constructs
cdk-s3-vectors
cdk-nag

# Runtime
strands-agents
bedrock-agentcore
aws-opentelemetry-distro>=0.10.1
boto3
json_repair
diskcache
jinja2
print-color
s3fs

# Used by the Agent for the data-analysis code
numpy
pandas
matplotlib
seaborn

# Download Datasets
requests
tqdm

# CLI
art
pillow

# Evaluation
joblib
irmetrics
rich
